.tenant {
  width: 80%;
  background-color: white;

  margin-bottom: 15px;
  border-radius: 5px;
}

.tenant-name {
  font-family: Merriweather, serif;
  font-size: 2rem;
  padding-top: 20px;
}

.rent {
  font-family: Merriweather, serif;
  font-size: 1.5rem;
}

.property-building {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  margin-right: 0;
  font-size: 1.25rem;
}

.property-unit {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 1.25rem;
}

.tenant-btn {
  width: 5rem;
  height: auto;
  margin: auto;
  margin-bottom: 20px;

  color: #cc5577;
  background-color: transparent;
  border-radius: 5px;
  border: none;
}

.icons {
  transform: scale(1.3);
  cursor: pointer;
}
